@page
@model TheOrchardist.Pages.SharedPages.RootstockPageModel
@{
    ViewData["Title"] = "RootstockPage";
}

<h2>Rootstock Information</h2>


<div>
    Dwarving rootstocks are commonly used to manage the size of the fruit tree.

</div>
<table>Apple Rootstocks
    <tbody >
        <tr >
            <th style="border:solid">Very Small</th>
            <th style="border:solid">Small</th>
            <th style="border:solid">Medium</th>
            <th style="border:solid">Large</th>
            <th style="border:solid">Very Large</th>
        </tr>
        <tr>
            <td style="border:solid">P22, M27, G65 </td>
            <td style="border:solid">G11, G41, M9, G16, Bud 9, Mark </td>
            <td style="border:solid">M26, G935, G202, G30, MM102, Interstems, M7, M116 </td>
            <td style="border:solid">MM106</td>
            <td style="border:solid">MM111, Bud 118, M25 </td>
        </tr>
        <tr>
            <td style="border:solid">6ft/2m </td>
            <td style="border:solid">8ft/2.5m </td>
            <td style="border:solid">10ft/3m </td>
            <td style="border:solid">14ft/4m </td>
            <td style="border:solid">18ft/5m </td>
        </tr>
    </tbody>
</table>
<div class="item" style="font-size:xx-small">
    <div>
        <img src="https://massatstorage.blob.core.windows.net/orchadistfiles/Applerootstock.png" alt="Microsoft Azure" class="img-responsive" />
    </div>
    The original uploader was
    <a title="wikipedia:User:Quercusrobur" class="extiw" href="https://en.wikipedia.org/wiki/User:Quercusrobur">Quercusrobur</a>
    at
    <a title="wikipedia:" class="extiw" href="https://en.wikipedia.org/wiki/">English Wikipedia</a>
    - Transferred from
    <span class="plainlinks">
        <a class="external text" href="//en.wikipedia.org">en.wikipedia</a>
    </span>
    to Commons.,
    <a title="Creative Commons Attribution-Share Alike 3.0" href="http://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0</a>,
    <a href="https://commons.wikimedia.org/w/index.php?curid=1142930">Link</a>
</div>
<table>
    Cherry Rootstocks
    <tbody>
        <tr>
            <th style="border:solid">Very Small</th>
            <th style="border:solid">Small</th>
            <th style="border:solid">Medium</th>
            <th style="border:solid">Large</th>
        </tr>
        <tr>
            <td style="border:solid">Gisela 3</td>
            <td style="border:solid">Gisela 5</td>
            <td style="border:solid">Colt</td>
            <td style="border:solid">Mahaleb, Mazzard</td>
        </tr>
        <tr>
            <td style="border:solid">8ft/2.7m - 11ft/3.3m</td>
            <td style="border:solid">10ft/3m - 13ft/4.1m</td>
            <td style="border:solid">12ft/3.7m - 15ft/4.6m</td>
            <td style="border:solid"> > 15ft/4.6m</td>
        </tr>
    </tbody>
</table>
<table>
    Pear Rootstocks
    <tbody>
        <tr>

            <th style="border:solid">Small</th>
            <th style="border:solid">Medium</th>
            <th style="border:solid">Large</th>
        </tr>
        <tr>
            <td style="border:solid">Quince C</td>
            <td style="border:solid">Quince A </td>
            <td style="border:solid">Pear Stock</td>
        </tr>
        <tr>
            <td style="border:solid">8ft/3m - 18ft/5m </td>
            <td style="border:solid">10ft/3m - 20ft/5m </td>
            <td style="border:solid">> 20ft/5m </td>
        </tr>
    </tbody>
</table>
<table>
    Plum Rootstocks
    <tbody>
        <tr>

            <th style="border:solid">Small</th>
            <th style="border:solid">Medium</th>
            <th style="border:solid">Large</th>
        </tr>
        <tr>
            <td style="border:solid">Pixy</td>
            <td style="border:solid">St. Julien A, Myro-29C, Citation</td>
            <td style="border:solid">Brompton, Myrobalan B</td>
        </tr>
        <tr>
            <td style="border:solid">8ft/2.4 - 10ft/3m </td>
            <td style="border:solid">12ft/3.7m - 15ft/4.6m </td>
            <td style="border:solid">18ft/5.5m - 22ft/6.7m </td>
        </tr>
    </tbody>
</table>